body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  &:hover {
    cursor: pointer;
  }
}

p {
  margin: 0;
}

.app {
  width: 100%;
  padding: 2em;
}

.game {
  display: flex;
  width: 100%;
  min-width: 320px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  gap: 2em;
}

.grid {
  min-width: 320px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: space-around; 
}

.row {
  display: flex;
}

.cell {
  flex: 1 0 auto;
  aspect-ratio: 1;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.empty {
  background-color: #fff;
}

.bowl {
  background-image: url("./img/bowl.png");
}

.full-bowl {
  background-image: url("./img/full-bowl.png");
}

.cat {
  background-image: url("./img/cat.png");
}

.food {
  background-image: url("./img/food.png");
}

.wall {
  background-image: url("./img/wall.png");
}

.stats {
  font-size: 1.25em;
  line-height: 1.5em;
  width: 15me;

  span {
    color: blue;
    font-weight: 700;
  }
}

a:hover {
  background-color: #ddd;
  transition: background-color 0.2s ease-in-out;
}

button {
  display: inline-block;
  color: blue;
  text-decoration: underline;
  margin: 0;
  padding: 0 0 0 0.25em;
  background-color: transparent;
  border: 0px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #aaf;
  }
}

.cat-progress {
  font-size: 3em;
}
